@media only screen and (min-width: 320px) and (max-width:374px){
  .options{
    display: none;
  }

  .thumbnail-div{
    display: none;
  }

  .menu{
    display: inline;
    margin-right: 15px;
    padding-top: 4.5px;
    vertical-align:-100px;
  }

  .cart-profile{
    padding-left: 25px;
  }

  .cart{
    margin: 0px 30px;
    margin-right: 15px;
    cursor: pointer;
  }

  .nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
    padding: 20px 15px;
    border: 0px solid hsl(220, 14%, 75%);
    border-bottom-width: 1px;
    /* width: 100%; */
    /* background-color: black; */
    width: 100%;

  }

  .img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }

  main{
    position: relative;
    display: flex;
   flex-direction: column;
   top: 10px;
   margin-left:0px;
   margin-right:10px;
   /* width: 100%; */
   z-index: -1;
   /* justify-content: space-between; */
   width: 100%;
  }

  .product-img{
    width: 370px;
    height: 410px;
    margin-right: 140px;
    margin-left: 50px;
    margin-top: -20px;
  }
}